@mixin clearfix{
    &::after{
        content:"";
        display: table;
        clear: both;
    }
}

//this mixin use to decor each column
@mixin col-decor{
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    border: .05rem solid;
    border-radius: 1rem
}