.u-center-text{
    text-align: center;
}
.u-margin-bottom-8{
    margin-bottom: 8rem;
}
.u-height-grid-of-4{height: 35vh;}
.u-center-grid-of-4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90rem;
}